.article {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .article h1 {
    font-size: 28px;
    margin-bottom: 15px;
  }
  
  .article .article-meta {
    display: flex;
    justify-content: space-between;
    color: #666;
    font-size: 14px;
    a{
      margin-left: 15px;
    }
  }
  
  .article .article-meta .author {
    font-style: italic;
  }
  
  .article .article-meta .date {
    text-align: right;
  }
  
  .article img {
    max-width: 100%;
    height: auto;
    margin: 15px 0;
  }
  
  .article .article-content {
    font-size: 18px;
    line-height: 1.6;
  }
  
  /* Style anchor links in the article content */
  .article .article-content a {
    color: #00f;
    text-decoration: underline;
  }
  
.count-data{
  cursor: pointer;
}

.iconAndNumber {
  display: inline-flex;
  align-items: center;

  h6.count {
    margin-right: 10px; /* Adding some space between the number and icon */
  }
}

.comments {
  .comment-list{
    max-height: 300px; /* Adjust the height as needed */
    overflow-y: auto; /* Enable vertical scrolling */
    padding-right: 10px; /* Optional: Add some padding to prevent content from being hidden under the scrollbar */
  }

  #leave-a-comment-button {
    display: block;
    width: 100%;
    background-color: black;
    color: #fff;
    border: none;
    padding: 10px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }

  .comment-text-input {
    display: block;
    background-color: black;
    color: #fff;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  .comment {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;

    .comment-header {
      display: flex;
      align-items: center;
      margin-bottom: 5px;

      .buttons {
        display: flex;
        button{
          background: transparent;
          border: none !important;
          cursor: pointer;
          &:focus{
            outline: none;
          }
          &:hover{
            color: red;
          }
        }
      }

      .profile-photo {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
      }

      .user-info {
        display: flex;
        flex-direction: column;
        flex: 1;

        .user-id {
          font-weight: bold;
          margin-bottom: 5px;
          &:hover{
            cursor: pointer;
            text-decoration: underline;
          }
          }

        .comment-date {
          font-size: 12px;
          color: #777;
        }
      }
    }

    .comment-content {
      p {
        margin: 0;
      }
    }
  }
}

.container{
  display: flex;
  justify-content: space-between;
  button{
    background: transparent;
    border: none !important;
    cursor: pointer;
    &:focus{
      outline: none;
    }
    &:hover{
      color: red;
    }
  }
}
