<div class="content">
  <h3 class="header">Edit data for user:
    <a (click)="navigateToProfile(selectedUser.id)">@{{selectedUser.username}}</a>
  </h3>
  <div class="news-list">

    <div class="news-item">
      <h5>Id : {{selectedUser.id}}</h5>
      <h5>Email : {{selectedUser.email}}</h5>
      <mat-form-field appearance="outline">
        <mat-label>Update Role:</mat-label>
        <mat-select [(value)]="newRole">
          <mat-option *ngFor="let role of roles" [value]="role">
            {{role}}
          </mat-option>
        </mat-select>      
      </mat-form-field>
    </div>
  </div>
  <div class="buttons">
    <button class="modal-button" mat-button [mat-dialog-close]="true">Close</button>
    <button class="modal-button" id="delete-button" (click)="onDeleteUser()">Delete User</button>
    <button class="modal-button" (click)="onSaveUser()">Save!</button>
  </div>
</div>



