.container {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .header {
    margin-top: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    h2 {
      margin: 0;
      text-align: center;
      flex: 1;
    }
    .modal-button {
      margin-left: auto;
      padding: 0;
      border: none;
      background: none;
      .icon {
        font-size: 24px;
      }
    }
  }

  .modal-button {
    background: transparent;
    border: none !important;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
}

.news-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px 0;
  justify-content: center;
}

.news-item {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  width: 1000px;

  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  h5 {
    margin-right: 10px;
  }

  p {
    font-size: 14px;
  }

  a {
    text-decoration: none;
    display: block;
    margin-top: 10px;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .mat-form-field {
    flex-grow: 1;
  }
}

.sendForm {
  #sendFormButton {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
}
