<button id="profileButtton" mat-stroked-button [matMenuTriggerFor]="menuHero" color="primary" ng-init >
    <mat-icon [matMenuTriggerFor]="menuHero" id="profileIcon">face</mat-icon>
</button>

<mat-menu #menuHero="matMenu" class="uxg-user-profile">

    <div class="uxg-menu-header">
        <div class="uxg-avatar-hero-block">
            <img src="{{user.profilePhoto}}" title="" alt="" width="100" height="100">
            <h6 class="uxg-h6">{{user.username}}</h6>
            <span class="uxg-caption">{{user.email}}</span>
        </div>

        <mat-icon (click)="onClickLikedPosts()" class="like-icon">favorite</mat-icon> 
        <mat-icon (click)="onClickSavedPosts()" class="star-icon">grade</mat-icon>
    </div>
    <div class="uxg-menu-footer">
        <a [routerLink]="'profile/' + user.id">
            <button mat-button class="viewProfile">
                View profile
            </button>
        </a>  

        <button mat-button class="viewProfile" (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            Logout
        </button>

    </div>

</mat-menu>

