<div class="container">
  <div class="add-cat-button">
    <button (click)="onAddingCat()">Add a Cat</button>    
  </div>
  <ng-container *ngIf="unadoptedCats.length; else noDataFound">
    <div class="news-list">
      <div *ngFor="let cat of unadoptedCats" class="news-item">
        <img [src]="cat.image" alt="{{ cat.name }}" />
        <h2>{{cat.name}}</h2> 
        <h2>{{cat.age}} years old</h2>
        <div class="readMore_date">
          <a [routerLink]="['/adopt', cat.id]">Go to cat's profile</a>
        </div>
      </div>
  </div>
  </ng-container>
  <ng-template #noDataFound>
    <div class="no-data-found">
      <h1>No cats found!</h1>
    </div>
  </ng-template>
</div>
