<div class="content">
  <h3 class="header">Your data is:</h3>
  <div class="form-info">
    <p>Your Cat Name: {{ newProblem.cat!.name }}</p>
    <p>Your Problem: {{ newProblem.selectedProblem }}</p>
    <p>Your Date: {{ newProblem.selectedDate | date:'yyyy-MM-dd' }}</p>
    <p *ngIf="data['parameters'][3].value">Additional Details: {{ newProblem.otherDetails }}</p>
  </div>

  <div class="buttons">
    <button class="modal-button" mat-button [mat-dialog-close]="true">Close</button>
    <button class="modal-button" (click)="sendForm()">Send Data!</button>
  </div>
</div>



