#app::before {
  content: '';
  /* background: red; */
  position: absolute;
  width: 465px;
  height: 465px;
  z-index: 999;
  background: conic-gradient(from
  207deg
  at 50% 50%, black
-44.1deg, white 11.13deg, rgba(255, 255, 255, 0) 27.49deg, black 315.9deg, white 371.13deg);
  filter: blur(120px);
  left: -3px;
  top: -400px !important;
}

body {
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

