.container {
    width: 100%;
    max-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .no-data-found {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .header {
        margin-top: 10px;
        margin-right: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
        z-index: 1;
        h2 {
          margin: 0;
          text-align: center;
          flex: 1;
        }
        .modal-button {
          margin-left: auto;
          padding: 0;
          border: none;
          background: none;
          .icon {
            font-size: 24px;
          }
        }
      }

      .modal-button {
        background: transparent;
        border: none !important;
        cursor: pointer;
        &:focus {
          outline: none;
        }
      }
      
      .icon {
        color: black;
      }

      .news-list {
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        gap: 20px;
        margin: 20px 0;
        justify-content: center;
        overflow-y: auto;
      }
      
      .news-item {
        flex: 0 0 calc(33.33% - 30px);
        max-width: calc(33.33% - 30px);
        border: 1px solid #ddd;
        padding: 10px;
        border-radius: 5px;
        box-sizing: border-box;
      
        img {
          max-width: 100%;
          width: 1000px;
          height: 300px;
          margin-bottom: 10px;
          object-fit: cover;
          object-position: 25% 25%; 
        }
      
        h2 {
          font-size: 18px;
          margin: 10px 0;
        }
      
        p {
          font-size: 14px;
        }
      
        a {
          text-decoration: none;
          display: block;
          margin-top: 10px;
          font-weight: bold;
      
          &:hover {
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
      
      .readMore_date {
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
          color: gainsboro;
          font-style: italic;
        }
      }
  }


