.content {
  h4 {
    color: black; // Title color
  }

  table {
    th {
      background-color: black; // Table header background color
      color: white; // Table header font color
    }

    .mat-row {
      td {
        color: black; // Table cell font color
      }
    }
  }

  .titleAndSearch {
	display: flex;
	justify-content: space-between; // Items will be placed at the start and end of the flex container
	align-items: center; // Aligns items along the vertical center
	h4 {
	  margin: 0; // Remove default margins for h4 element
	}
  
	mat-form-field {
	  margin-left: auto; // Push the search box to the right
	}
  }
}
