<div class="container">
  <div class="row">
     <div class="col-lg-12 text-center">
        <div class="container box">
           <div class="row">
            <div class="inputs">
               <mat-form-field appearance="outline">
                  <mat-label>Username</mat-label>
                  <input matInput [(ngModel)]="userName" type="text" required autofocus> 
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Password</mat-label>
                  <input matInput [(ngModel)]="password" type="password" required> 
                </mat-form-field>
                 <button class="btn btn-lg btn-primary btn-block" (click)="onRegister()" type="button">Register</button>
                 <button class="btn btn-lg btn-primary btn-block" (click)="onClickSubmit()" type="submit">Log in</button>
             </div>             
           </div>
        </div>
     </div>
  </div>
</div>